/* STYLE PART*/

body {
    margin: 0;
    background-image: url(../assets/food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

main {
    text-align: center;
}

header {
    background-color: #3e3e3e73; 
    opacity: 100%;
}

.logo {
    margin: 0 auto;
    height: 180px;
    padding-top: 1em;
    display: block;  
}

h1 {
    text-align: center;
    color: #FFF;
    font-family: papyrus;
    font-size: 50px;
    font-weight:100;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: papyrus;
    font-size: 30px;
    font-weight:600;
}

p {
    text-align: center;
    font-family: Microsoft Yi Baiti;
    font-size: 22px;
    color: #FFF;
    font-weight: lighter;
}

.contactus {
    color: rgb(0, 0, 0);
    background-color: rgb(215, 215, 215);
    border-radius: 21px 21px 21px 21px;
    padding: 0.7em;
    font-family: Microsoft Yi Baiti;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.contactus:hover {
    background-color: rgba(92, 92, 92, 0.781);
    color: #c7c7c7;

}

.grey
{
    background-color: #3e3e3e73; 
    opacity: 100%;
}

.navbar
{
    margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.navbar a
{
    font: 20px Copperplate Gothic Light;
    color: #FFF;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.711);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 1px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


/* MENU PART */


*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container{
    width: 75%;
    margin: 50px auto;
    text-align: center;
}
.title{
    width: 60%;
    margin: 0px auto 30px auto;
}
h3{
    color: #FFF;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}
h4{
    color:#fff;
}
p1{
    color: #FFF;
    font-size: 18px;
}
.list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list li{
    color: #FFF;
    margin: 0px 15px;
    transition: .3s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    position: relative;
}
.list li::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: #d4a373;
    transition: .2s ease-in-out;
}
.list li:hover::after{
    width: 100%;
}

.box_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    width: 32%;
    background: #3e3e3e73; 
    opacity: 100%;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    animation: movement 1s ease-in-out;
}

.box .box_img{
    width: 35%;
    text-align: center;
}
img{
    width: 130px;
    height: 130px;
}

section{
    color: #FFF;
}
.text{
    text-align: left;
    width: 60%;
}
.text hr{
    width: 75px;
    background: #d4a373;
    height: 2px;
    margin: 5px 0px 10px 0px;
    border: 0;
}
.text section{
    font-weight: 600;
    margin-bottom: 10px;
}





@keyframes movement{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width: 1320px){
    .box{
        width: 49%;
    }
}
@media(max-width: 991px){
    .container .title{
        width: 80%;
    }
    .box .box_img{
        text-align: left;
    }
    .box_img img {
        width: 170px;
        height: 170px;
    }
    .box{
        width: 100%;
    }
    .box .text{
        width: 70%;
    }
}
